.top {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    align-items: center; 
    gap: 1rem;
}

.top .coordinates {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottom {
    display: flex;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: space-evenly;
}
